*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
  font-family: 'Comic Neue', cursive, sans-serif;
}

.container{
    width:90%;
    margin:0 auto;
    /* border:1px solid red; */
    max-width: 990px;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size:3rem;
    text-decoration: none;
    color:midnightblue;
    font-family: 'ZCOOL KuaiLe', cursive;
}
span{
    color:coral;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
  margin-left:2rem;
}

nav a{
    color:midnightblue;
    text-decoration: none;
    font-size: 1.3rem;
}
.active{
    color:coral;
}
nav a:hover{
    color:coral;
}


/* media queries */
@media screen and (max-width:768px){
   html{
    font-size: 14px;
   }
   .container-flex{
    flex-direction: column;
   }
   nav ul{
    margin-top: .3em;
   }
}

@media screen and (max-width:568px){
html{
    font-size: 12px;
   }
    nav ul{
   flex-direction: column;
   }
   

}

/* main part */
h1{
    color:midnightblue;
    text-align: center;
    margin-top: 1em;
}
.para-center{
    margin-top: 0;
    text-align: center;
    color:coral;
    margin-bottom: 1em;
}
.left,.right{
    width:50%;
    border: none; /* remove default hr border */
    border-top: 2px solid midnightblue; /* set custom color and thickness */
    
}
.right{
    margin:1em auto;
}


.main{
       
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main p{
    width: 50%;
}
.img1{
    width:30%;
    float:left;
    margin-right: 1em;
}
.container-img{
   width:40%;
}
.container-img img{
  
width:100%;
}
p{
    color:midnightblue;
}


/* media queries for main part*/
@media screen and (max-width:768px){

    .main{
        flex-direction: column;
    }
    .main p{
        width:100%; 
    }
    .img1{
        display: none;
    }
    .container-img{
        width:100%;
        height:auto;
    }
}
@media screen and (max-width:568px){

    .main{
        flex-direction: column;
    }
    .main p{
        width:100%; 
    }
    .img1{
        display: none;
    }
    .container-img{
        width:80%;
        height:auto;
    }

}

h2{
    color:midnightblue;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* icons */
.icon{
    background-color: coral;
    text-align:center;
     padding: .5em;
     margin-top: 1em;
}

.icon .fa-brands{
    color: beige;
    padding: 0 1.5em;
     
}
.icon .fa-brands:hover{
    color:midnightblue;
}

/*media icon */
@media screen and (max-width:326px){

.icon .fa-brands{
    font-size: 0.8em;
     
}

}

.footer p{
    background-color:midnightblue;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 1em;
  }

